**/sample/**
**/node_modules/**
**/_IGNORE_COVID_HELPER/**
**/COVID_HELPER.data.json
**/coincap-api.key
**/strategies/config/**
**/strategies/webcam/**
# managed by open-wa
**.data.json
**.node-persist**
**_IGNORE_**
**/strategies/http_cache_folder/**
**/strategies/media/**
**/strategies/config/**
**/__pycache__/**
**/strategies/FilipinoCupid.js
**/strategies/Pornhub.js
**/strategies/backup/**
**/Session Storage/**
**/state.json
# end managed by open-wa
